* {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	cursor: url(../img/mouse.cur), auto;
}

li {
	list-style: none;
}

ul{
	padding-inline-start:0;
}

.back {
	clear: both;
}

.outContainer::-webkit-scrollbar {
            width:0 !important;   /* remove scrollbar space */
            background: transparent;  /* optional: just make scrollbar invisible */
        }

body{
	cursor: url(../img/mouse.cur), auto;
	font-family: Poppins;
}

/* 导航-start */
.nav_box {
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	position: fixed;
	top: 0;
	z-index: 100;
}

.nav_box ul {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	align-items: center;
	height: 60px;
	margin: 0 auto;
	transition: all 0.5s;
}

.nav_box .logo {
	width: 140px;
	transition: all 0.5s;
}

.nav_box ul li a {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	transition: all 0.5s;
}

.nav_box ul li a:hover {
	color: #D851F4;
}

/* 滚动收缩-start */
.nav_box.shrink ul {
	height: 40px;
}

.nav_box.shrink .logo{
	width: 100px;
}

.nav_box.shrink  ul li a {
	font-size: 15px;
}
/* 滚动收缩-end */
/* 导航-end */

.banner {
	margin: 0 auto;
	background-image: url(../img/bg.gif);
	background-position: bottom center;
	padding-top: 60px;
}

.banner_opacity  {
	height: 780px;
	position: relative;
	top: -60px;
}

.banner_text{
	position: absolute;
    top: 50%;
    left: 0;
	right: 0;
	transform: translateY(-50%);
    color: #FFFFFF;
    line-height: 100px;
    text-align: center;
    font-weight: 100;
	z-index: 1;
}

.banner_text p:first-child {
	font-size: 40px;
}

.banner_text p:nth-child(2) {
	font-size: 80px;
}

.banner_text p:nth-child(3) {
	font-size: 40px;
	padding-bottom: 36px;
}

.banner_text p span{
	color: #791FC9;
}

.banner_text i{
    display: block;
    font-size: 64px;
	font-weight: 900;
    line-height: 32px;
}
.las.la-angle-down.flash_1{
	animation: flash1 1s ease-in infinite;
}

.las.la-angle-down.flash_2{
	animation: flash2 1s ease-in infinite;
}

.las.la-angle-down.flash_3{
	animation: flash3 1s ease-in infinite;
}
@keyframes flash1 {
	0% {
		opacity:1;
	}
	25% {
		opacity:0.5;
	}
	50% {
		opacity:0;
	}
	75% {
		opacity:0.5;
	}
	100% {
		opacity:1;
	}
}

@keyframes flash2 {
	0% {
		opacity:0.5;
	}
	25% {
		opacity:1;
	}
	50% {
		opacity:0.5;
	}
	75% {
		opacity:0;
	}
	100% {
		opacity:0.5;
	}
}

@keyframes flash3 {
	0% {
		opacity:0;
	}
	25% {
		opacity:0.5;
	}
	50% {
		opacity:1;
	}
	75% {
		opacity:0.5;
	}
	100% {
		opacity:0;
	}
}

.section_back {
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-image: url(../img/bg.gif);
/* 	background-image: linear-gradient(140deg, #fe7142 0%, #cb4fc2 50%, #9A57E8 75%, #53A0E8 100%);
	background-size:100% ; */
	top: -1px;
}

.section {
    overflow: hidden;
    width: 100%;
    position: relative;
    box-shadow: -3px 6px 19px rgba(0, 0, 0, 0.2);
    padding: 80px 0;
}

.section_head {
	text-align: right;
    color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
	padding-bottom: 25px;
}

.section_head h2 {
	display: inline-block;
	float: left;
	padding: 15px 10px 15px 0;
}

.section_head a {
	text-align: right;
    display: inline-block;
    padding: 19px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.section_head a:hover{
	color: #D851F4;
}

.new_logo{
	display: inline-block;
	    float: left;
	    margin-top: 10px;
	    padding: 0 8px;
	    background-color: #ff1493;
	    border-radius: 20px;
}

.section_content{
    color: white;
    font-weight: 100;
	font-size: 18px;
    line-height: 1.5rem;
    overflow: hidden;
    padding: 0 0 0 40px;
}

.section_content div{
    font-size: 14px;
    font-weight: 100;
    overflow: hidden;
}

.section_content p{
    font-size: 16px;
	line-height: 2rem;
    overflow: hidden;
}

.backimg {
	padding: 70px;
	background-size: 100%;
	background-image: url(../img/song2.png);
	background-repeat: no-repeat;
	display: inline-block;

}

.song_style {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

.song_img{
	float: left;
}

.song_img img{
	height: 200px;
	border: 2px solid #FFFFFF;
}

.song_audio{
    font-size: 120px;
    color: #FFFFFF;
    position: absolute;
    top: 42px;
    left: 42px;
    line-height: 0;
	opacity: 0.1;
	transition: all 0.5s;
}

.song_audio:hover{
	opacity: 1;
}

.photo_box{
	width: 1200px;
	margin: 0 auto 20px;
}

.photo_style {
	width: 210px;
	color: #FFFFFF;
	text-align: center;
	float: left;
	overflow: hidden;
}

.photo_style img {
	height: 210px;
	max-width: none;
}


.video_box{
	width: 1200px;
	margin: 0 auto 20px;
}

.video_style {
	width: 480px;
	height: 270px;
	background-color: rgba(1,1,1,0.5);

	float: left;
}

.footback {
	background-color: rgba(0, 0, 0, 1);
}

.footerbox {
	width: 100%;
	height: 40px;
	text-align: center;
	background: linear-gradient(140deg, #fe7142, #53A0E8);
	-webkit-background-clip: text;
	color: transparent;
	line-height: 40px;
	font-weight: 600;
}



/* 这里是第一版top start
.title01{
	height: 70px ;
	background-image: url(../img/popular%20art.jpg);
	background-size: 100%;
	position: relative;
	overflow: hidden;

}
.title01:before{
	background: rgba(0,0,0,0.4);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: block;
	content: "";
}


.title01_1{
	width: 100%;
	text-align: center;
	margin: 0;
	color: #FFFFFF;
	z-index: 2;
	position: absolute;
}
这里是第一版top end */
